%% -*- erlang -*-

{erl_first_files, []}.
{cover_enabled, true}.
{erl_opts, [
	%% bin_opt_info,
	warn_missing_spec,
	debug_info
]}.
{sub_dirs, ["examples", "apps/durden_examples"]}.
{deps_dir, ["deps"]}.
{libs_dir, ["deps", "apps"]}.
{deps, [
	{durden, ".*", {git, "git://github.com/RGafiyatullin/durden.git", "HEAD"}},
	{eper, ".*", {git, "git://github.com/massemanet/eper.git", {branch, "master"}}}
]}.

% {rebar_plugins, [rebar_dialyzer_plugin]}.
